OPENAI_API_KEY=

# Retrieve the following from the Pinecone Console.

# Navigate to API Keys under your Project to retrieve the API key and environment
PINECONE_API_KEY=
PINECONE_ENVIRONMENT=

# Navigate to Indexes under your Project to retrieve the Index name
PINECONE_INDEX=